In [1]:
#Dist
#Idexing
#Orderd
#Multiple and Duplicate data
#Mutable

In [2]:
# d= {<key>:<value>,<key>,{value>,.......}

In [5]:
d= {'a':'Apple','b':'Ball'}
print(type(d))

<class 'dict'>

In [14]:
d= {'name':'Ram','age':34, 'add':'Kathmandu'}
print(len(d))
print(d)

3
{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'}

In [22]:
d= {'name':'Ram','age':34, 'add':'Kathmandu'}
print(d.values())
print(d.keys())
print(d.items())

dict_values(['Ram', 34, 'Kathmandu'])
dict_keys(['name', 'age', 'add'])
dict_items([('name', 'Ram'), ('age', 34), ('add', 'Kathmandu')])

In [29]:
print(d['name'])
print(d['age'])
print(d['add'])

Ram
34
Kathmandu

In [20]:
d= {'name':'Ram','age':34, 'add':'Kathmandu'}
for i in d:
    print(i)

name
age
add

In [28]:
# create 
d= {'name':'Ram','age':34, 'add':'Kathmandu'} ## Key cannot be same
print(d)

{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'}

In [31]:
#Creat Disctionary 
d={}
d['Ram']=9867667654
d['Shyam']=9867667655
d['Hari']=9867667656
print(d)

{'Ram': 9867667654, 'Shyam': 9867667655, 'Hari': 9867667656}

In [32]:
# in Dict there is no + *

In [36]:
a={1:1,2:4,3:9,4:16}
b={5:25,6:36,7:49}
a.update(b)
print(a)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [42]:
#Creat Disctionary 
d={}
d['Ram']=9867667654
d['Shyam']=9867667655
d['Hari']=9867667656
print(d)

{'Ram': 9867667654, 'Shyam': 9867667655, 'Hari': 9867667656}

In [41]:

# Enter the data using loop function
d={}
n=int(input("Enter n="))
for i in range (n):
    name=input("enter name = ")
    phone=input("enter phone = ")
    d[name]=phone                                 ## Syntax d[key]:value

print(d)

Enter n= 2
enter name =  Ram
enter phone =  980111111
enter name =  Shyam
enter phone =  980111111

{'Ram': '980111111', 'Shyam': '980111111'}

In [44]:
#Update 

a={'Ram':'9808778765','Shyam':'9808778766'}
a['Ram']='9808000000'
a

{'Ram': '9808000000', 'Shyam': '9808778766'}

In [45]:
#Insert 
a={'Ram':'9808778765','Shyam':'9808778766'}
a['Rama']='9808000000'                             #This will enter new key with defined value "Rama"
a

{'Ram': '9808778765', 'Shyam': '9808778766', 'Rama': '9808000000'}

In [ ]:
#Delete
#del pop()

In [49]:
a={'Ram': '9808778765', 'Shyam': '9808778766', 'Rama': '9808000000'}
del a['Rama']
print(a)

{'Ram': '9808778765', 'Shyam': '9808778766'}

In [51]:
a={'Ram': '9808778765', 'Shyam': '9808778766', 'Rama': '9808000000'}
b=a.pop('Ram')                                                           #Value of the particular key will be saved in new variable.
print(a)
print(b)

{'Shyam': '9808778766', 'Rama': '9808000000'}
9808778765

In [52]:
#a={'Ram': '9808778765', 'Shyam': '9808778766', 'Rama': '9808000000','Ram':'98080000001'}

In [ ]:
#  List inside dictionary
# a={'Ram':[9851012345,9802100123],
#    'Shyam':[9851012346,9802100234],
#    'Hari':[9851012347,9802100345]}

In [54]:
a={'name':['Ram','Shyam','Hari'],
   'age':[34,45,23],
   'add':['Kathmandu','Bhaktapur','Lalitpur']}

In [60]:
# a={'Ram':[9851012345,9802100123],
# 'Shyam':[9851012346,9802100234],
# 'Hari':[9851012347,9802100345]}
a={}
n=int(input("Enter number of rows="))
for i in range(n):
    name=input("enter name =")
    ntc=input("enter NTC number=")
    ncell=input("enter ncell number")
    a[name]=[ntc,ncell]
print(a)

Enter number of rows= 2
enter name = Ram
enter NTC number= 980111
enter ncell number 980222
enter name = Shyam
enter NTC number= 980333
enter ncell number 980444

{'Ram': ['980111', '980222'], 'Shyam': ['980333', '980444']}

In [63]:
# a={'name':['Ram','Shyam','Hari'],
#    'Ntc':[980111,980222,980333],
#    'add':['981000','981111','981222']}


a={"name":[],
  "ntc":[],
  "ncell":[]}
n=int(input("Enter number of rows="))
for i in range(n):
    name=input("enter name =")
    ntc=input("enter NTC number=")
    ncell=input("enter ncell number")
    a["name"].append(name)                  ## syntax 
    a["ntc"].append(ntc)
    a["ncell"].append(ncell)
print(a)

Enter number of rows= 2
enter name = Ram
enter NTC number= 980111
enter ncell number 890222
enter name = Shyam
enter NTC number= 981000
enter ncell number 981111

{'name': ['Ram', 'Shyam'], 'ntc': ['980111', '981000'], 'ncell': ['890222', '981111']}

In [13]:
# Indexing 
a={'Ram':['9851012345','9802100123'],'Shyam':['9851012346','9802100234'],
'Hari':['9851012347','9802100345']}
print(a['Ram'][0])                                ##syntax

9851012345

In [6]:
# Update
a={'Ram':['9851012345','9802100123'],'Shyam':['9851012346','9802100234'],
'Hari':['9851012347','9802100345']}
a['Ram'][0]=98400000
a

{'Ram': [98400000, '9802100123'],
 'Shyam': ['9851012346', '9802100234'],
 'Hari': ['9851012347', '9802100345']}

In [11]:
# Update
a={'name':['Ram','Shyam'],'ntc':['9851012346','9802100234'],
'ncell':['9851012347','9802100345']}
print(a['name'][0])
print(a['ntc'][0])
print(a['ncell'][0])

Ram
9851012346
9851012347

In [ ]:
#Dictionary inside list

In [17]:
l=[{'name':'Ram','ntc':9845667645,'ncell':980800000},
   {'name':'Shyam','ntc':9845667646,'ncell':980800001},
    {'name':'Hari','ntc':9845667647,'ncell':980800002}]
l

[{'name': 'Ram', 'ntc': 9845667645, 'ncell': 980800000},
 {'name': 'Shyam', 'ntc': 9845667646, 'ncell': 980800001},
 {'name': 'Hari', 'ntc': 9845667647, 'ncell': 980800002}]

In [20]:
l=[]

n=int(input("Enter number of rows="))
for i in range(n):
    name=input("enter name =")
    ntc=input("enter NTC number=")
    ncell=input("enter ncell number")
    x={'name':name,'ntc':ntc,'ncell':ncell}
    l.append(x)                 #append
print(l)

Enter number of rows= 2
enter name = Ram
enter NTC number= 123
enter ncell number 980
enter name = Shyam
enter NTC number= 980
enter ncell number 980

[{'name': 'Ram', 'ntc': '123', 'ncell': '980'}, {'name': 'Shyam', 'ntc': '980', 'ncell': '980'}]

In [26]:
l=[{'name': 'Ram', 'ntc': '123', 'ncell': '980'}, {'name': 'Shyam', 'ntc': '980', 'ncell': '980'}]
print(l[0])
print(l[0]['ntc'])

{'name': 'Ram', 'ntc': '123', 'ncell': '980'}
123

In [27]:
l[0]['ntc']='984100000'

In [28]:
print(l[0]['ntc'])

984100000

In [ ]:
## DICTIONARY INSIDE DICTIONARY

In [32]:
d={1:{'name': 'Ram', 'ntc': '980123123', 'ncell': '980234234'},
   2:{'name': 'Shyam', 'ntc': '980123124', 'ncell': '980234234'}}
print(d)

{1: {'name': 'Ram', 'ntc': '980123123', 'ncell': '980234234'}, 2: {'name': 'Shyam', 'ntc': '980123124', 'ncell': '980234234'}}

In [33]:
l={}

n=int(input("Enter number of rows="))
for i in range(1,n+1):                             
    name=input("enter name =")
    ntc=input("enter NTC number=")
    ncell=input("enter ncell number")
    x={'name':name,'ntc':ntc,'ncell':ncell}
    l[i]=x                                          #Syntax
print(l)

Enter number of rows= 2
enter name = Ram
enter NTC number= 980123123
enter ncell number 980234234
enter name = Shyam
enter NTC number= 123124
enter ncell number 234235

{1: {'name': 'Ram', 'ntc': '980123123', 'ncell': '980234234'}, 2: {'name': 'Shyam', 'ntc': '123124', 'ncell': '234235'}}

In [40]:
l={}
l[1]={'name': 'Ram', 'ntc': '980123123', 'ncell': '980234234'}
l[2]={'name': 'Shyam', 'ntc': '123124', 'ncell': '234235'}
l[3]={'name': 'Shyam', 'ntc': '123125', 'ncell': '234236'}
l

{1: {'name': 'Ram', 'ntc': '980123123', 'ncell': '980234234'},
 2: {'name': 'Shyam', 'ntc': '123124', 'ncell': '234235'},
 3: {'name': 'Shyam', 'ntc': '123125', 'ncell': '234236'}}

In [41]:
l[1]

{'name': 'Ram', 'ntc': '980123123', 'ncell': '980234234'}

In [44]:
print(l[1]['ntc'])

980123123

In [45]:
l[1]['ntc']=980123125
l

{1: {'name': 'Ram', 'ntc': 980123125, 'ncell': '980234234'},
 2: {'name': 'Shyam', 'ntc': '123124', 'ncell': '234235'},
 3: {'name': 'Shyam', 'ntc': '123125', 'ncell': '234236'}}

In [ ]:
# WAP to CRUDE 

# list inside list 
# dict inside list
# list insdie dict
# dict inside dict

In [ ]:
b