In [2]:
#file
#open('<file_name>','<mode>')

#with open ('<file_name>','<mode>'):
# <operation>

#modes
#r ->read
#w -> write
#x -> create
# a -> append

In [8]:
try:
    file=open('data.txt','x')
    file.close()
except:
    print("There is same file")

There is same file

In [10]:
#wite 
data="Hello world"
file=open('data.txt','w')
file.write(data)
file.close()

In [11]:
#Read

file=open('data.txt','r')
my_data=file.read()
print(my_data)
file.close()

Hello world

In [12]:
#Append
data="Hello world \ n"
file=open('data.txt','a')
file.write(data)
file.close()

In [32]:
#Bill System in file in CSV form

bill= " "
n=int(input("enter number of product = "))
for i in range(n):
    product=input("enter product name = ")
    price=int(input ("enter price of the product = "))       # why integer??
    qty= float(input("enter quantity of the product= "))     # Why float ??
    total=price*qty
    row=f"{product}, {price}, {qty}, {total} \n"
    bill=bill+row

file=open('bill.txt','w')
file.write(bill)
file.close()

enter number of product =  2
enter product name =  Apple
enter price of the product =  200
enter quantity of the product=  2
enter product name =  Banana
enter price of the product =  50
enter quantity of the product=  4

In [33]:
my_data

' a 2 1.0 2.0 \n Apple 100 2.0 200.0 \nBanana 50 4.0 200.0 \n Coke 2 100.0 200.0 \nMomo 2 200.0 400.0 \n'

In [34]:
row=my_data.split('\n')[0:-1]    ## split ??
row

[' a 2 1.0 2.0 ',
 ' Apple 100 2.0 200.0 ',
 'Banana 50 4.0 200.0 ',
 ' Coke 2 100.0 200.0 ',
 'Momo 2 200.0 400.0 ']

In [35]:
bills=[]
for i in row:
    x=i.split()
    x[1]=int(x[1])
    x[1]=float(x[2])
    x[1]=float(x[3])
    bills.append(x)   # convert into list
bills

[['a', 2.0, '1.0', '2.0'],
 ['Apple', 200.0, '2.0', '200.0'],
 ['Banana', 200.0, '4.0', '200.0'],
 ['Coke', 200.0, '100.0', '200.0'],
 ['Momo', 400.0, '200.0', '400.0']]

In [36]:
s=0
for i in bills:
    s=s+i[3]
print(s)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [46]:
#Bill System in file in CSV form

bill= " "
s=0
n=int(input("enter number of product = "))
for i in range(n):
    product=input("enter product name = ")
    price=int(input ("enter price of the product = "))       # why integer??
    qty= float(input("enter quantity of the product= "))     # Why float ??
    total=price*qty
    row=f"{product}, {price}, {qty}, {total} \n"
    bill=bill+row
    s=s+total

#wite mode
file=open('bill.csv','w')
file.write('product,price,Quantity,Total\n')
file.write(f"(bill)\n")
file.write(f"Total=(s)")         
file.close()

#Append Mode
file=open('all_bill.csv','a')
file.write(bill)
file.close()

enter number of product =  2
enter product name =  Apple
enter price of the product =  300
enter quantity of the product=  4
enter product name =  Banana
enter price of the product =  200
enter quantity of the product=  4

In [47]:
pwd

'C:\\Users\\Administrator\\Python_6_30'

In [6]:
import csv
bill=[['Name','Price','Quantity','Total'],
    ['Apple', 200.0, '2.0', '200.0'],
 ['Banana', 200.0, '4.0', '200.0'],
 ['Coke', 200.0, '100.0', '200.0'],
 ['Momo', 400.0, '200.0', '400.0']]
file=open('list_bill.csv','w')
x=csv.writer(file)
x.writerows(bill)
file.close()

In [9]:
import pandas as pd
file=pd.read_csv('list_bill.csv')
file

     Name  Price  Quantity  Total
0   Apple  200.0       2.0  200.0
1  Banana  200.0       4.0  200.0
2    Coke  200.0     100.0  200.0
3    Momo  400.0     200.0  400.0

In [12]:
col=['Name','Price','Quantity','Total']
bill=[['Apple', 200.0, '2.0', '200.0'],
 ['Banana', 200.0, '4.0', '200.0'],
 ['Coke', 200.0, '100.0', '200.0'],
 ['Momo', 400.0, '200.0', '400.0']]
df=pd.DataFrame(bill,columns=col)
df.to_csv('dataframe_bill.csv')
df

     Name  Price Quantity  Total
0   Apple  200.0      2.0  200.0
1  Banana  200.0      4.0  200.0
2    Coke  200.0    100.0  200.0
3    Momo  400.0    200.0  400.0

In [16]:
data={'Name':['Ram','Shyam','Hari'],
      'Age':[34,45,67],
       'Add':['Kathmandu','Bhaktapur','Lalitpur']}
df=pd.DataFrame(data)
df.to_csv('dictdata.csv')
df

    Name  Age        Add
0    Ram   34  Kathmandu
1  Shyam   45  Bhaktapur
2   Hari   67   Lalitpur

In [26]:
import csv
csv_columns=['Name','Age','Address']
dict=[
    {'Name':'Ram','Age': 23,'Address':'Kathmandu'},
      {'Name':'Shyam','Age':33,'Address':'Lalitpr'}
           ]
file= open ("data.csv",'w')
write=csv.DictWriter(file,fieldnames=csv_columns)
write.writeheader()
for data in dict:
    writer.writerow(data)
file.close()

In [27]:
import csv
file= open ("data.csv")
reader=csv.DictReader(file)
for data in dict:
    
    file.close()

In [16]:
#read 
file=open('bill.txt','r')
my_data=file.read()
print(my_data)
file.close()

 a 2 1.0 2.0
 Apple 100 2.0 200.0
Banana 50 4.0 200.0
 Coke 2 100.0 200.0
Momo 2 200.0 400.0

In [17]:
my_data

' a 2 1.0 2.0 \n Apple 100 2.0 200.0 \nBanana 50 4.0 200.0 \n Coke 2 100.0 200.0 \nMomo 2 200.0 400.0 \n'