In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\administrator\anaconda3\lib\site-packages (9.2.0)

In [1]:
import mysql.connector  		#importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database = "python_630am"
)
db = database.cursor()

In [4]:
db.execute("SELECT * FROM student")
result = db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 79, 80, 90, 78, 77, 404, 80.8, 'A')
(2, 'Shyam', 79, 80, 90, 78, 77, 404, 80.8, 'A')
(3, 'Shyama', 90, 90, 89, 88, 88, 459, 89.0, 'A')
(4, 'Hari', 69, 79, 89, 77, 67, 400, 77.0, 'B')
(5, 'Ramay', 69, 79, 89, 77, 67, 400, 77.0, 'B')
(6, 'Sita', 68, 78, 88, 67, 66, 400, 77.0, 'B')

In [5]:
#insert data into table
sql = ''' INSERT INTO student (sn, name, physics, chemistry, math, english, nepali, total, per, grade)
VALUES (24, 'Ram', 78, 77, 99, 88, 87, 400, 78, 'B');'''
db.execute(sql)
database.commit()
print(db.rowcount, "record inserted.")

1 record inserted.

In [9]:
#update in sql
sql="UPDATE student SET name='Rama' WHERE sn=2"
db.execute(sql)
database.commit()
print(db.rowcount,"record(s) affected")

0 record(s) affected

In [10]:
#update in sql
sql="UPDATE student SET name='Rama' ,grade='B' WHERE sn=2"
db.execute(sql)
database.commit()
print(db.rowcount,"record(s) affected")

1 record(s) affected

In [19]:
#update in sql
name=input("Enter name=")
sn=int(input("enter sn="))
sql=f"UPDATE student SET name='{name}' WHERE sn={sn}"
db.execute(sql)
database.commit()
print(db.rowcount,"record(s) affected")

Enter name= Ram
enter sn= 2

1 record(s) affected

In [2]:
# Select
db.execute("SELECT name,total,grade FROM student WHERE grade = 'A'")
result =db.fetchall()
for x in result:
    print(x)

('Ram', 404, 'A')
('Shyama', 459, 'A')

In [2]:
# Select
db.execute("SELECT * FROM student WHERE physics > 60")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 79, 80, 90, 78, 77, 404, 80.8, 'A')
(2, 'Rama', 79, 80, 90, 78, 77, 404, 80.8, 'B')
(3, 'Shyama', 90, 90, 89, 88, 88, 459, 89.0, 'A')
(4, 'Hari', 69, 79, 89, 77, 67, 400, 77.0, 'B')
(5, 'Ramay', 69, 79, 89, 77, 67, 400, 77.0, 'B')
(6, 'Sita', 68, 78, 88, 67, 66, 400, 77.0, 'B')
(24, 'Ram', 78, 77, 99, 88, 87, 400, 78.0, 'B')

In [3]:
database.commit()

In [4]:
# search
db.execute("SELECT * FROM student WHERE name LIKE '%ram%'") #selects name similar to ram
result =db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 79, 80, 90, 78, 77, 404, 80.8, 'A')
(2, 'Rama', 79, 80, 90, 78, 77, 404, 80.8, 'B')
(5, 'Ramay', 69, 79, 89, 77, 67, 400, 77.0, 'B')
(24, 'Ram', 78, 77, 99, 88, 87, 400, 78.0, 'B')

In [8]:
#select
db.execute("SELECT *FROM student WHERE physics>70 and chemistry=80")
result=db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 79, 80, 90, 78, 77, 404, 80.8, 'A')
(2, 'Rama', 79, 80, 90, 78, 77, 404, 80.8, 'B')

In [9]:
#select
db.execute("SELECT *FROM student ORDER BY total DESC")
result=db.fetchall()
for x in result:
    print(x)

(3, 'Shyama', 90, 90, 89, 88, 88, 459, 89.0, 'A')
(1, 'Ram', 79, 80, 90, 78, 77, 404, 80.8, 'A')
(2, 'Rama', 79, 80, 90, 78, 77, 404, 80.8, 'B')
(4, 'Hari', 69, 79, 89, 77, 67, 400, 77.0, 'B')
(5, 'Ramay', 69, 79, 89, 77, 67, 400, 77.0, 'B')
(6, 'Sita', 68, 78, 88, 67, 66, 400, 77.0, 'B')
(24, 'Ram', 78, 77, 99, 88, 87, 400, 78.0, 'B')

In [11]:
#select
db.execute("SELECT *FROM student ORDER BY total DESC LIMIT 2")
result=db.fetchall()
for x in result:
    print(x)

(3, 'Shyama', 90, 90, 89, 88, 88, 459, 89.0, 'A')
(2, 'Rama', 79, 80, 90, 78, 77, 404, 80.8, 'B')